.idea
/cache/
/analabit
cli.log

service/aggregator/proto/*.pb.go
service/aggregator/proto/*.pb.micro.go

service/producer/proto/*.pb.go
service/producer/proto/*.pb.micro.go

# cursor
.cursor/*

# Binaries
/aggregator
/api
/producer
/main

# Service temp files
service/*/tmp/

# Producer cache
service/producer/cache/
service/aggregator/backups/
test.txt
/tools/tabula.jar

# Environment files
.env
.env.local
.env.prod
*.env.remote

# Temporary files
docker-compose.*.remote
nginx-temp.conf
aggregator_*.remote
*_main.go.remote
*_config.go.remote
*_handler.go.remote
.remote/
.env*
.trae/
.CLAUDE.md